extends ../template

block body
    +makeHeaderAbout()
    .section 
        .container.is-fullheight
            .columns 
                .column
                    h1.title Cosa è una valuta? In cosa differisce con la criptovaluta?
                    .columns 
                        .column 
                            p.block La valuta è la #[b moneta in circolazione] in un paese e i biglietti di banca che la rappresentano. Nell’ambito delle operazioni bancarie, la valuta è il meccanismo per cui l’istituto di credito fa  passare un intervallo di tempo (i cosiddetti giorni di valuta) tra l’addebito di una somma e l’accredito all’avente diritto, o tra il versamento di una somma e la data a partire dalla quale sarà visibile nell’ estratto conto cominciando a maturare interessi.
                        .column 
                            p.block Una criptovaluta, invece, è un tipo di moneta digitale creata attraverso un sistema di codici. Può essere definita come una rappresentazione digitale di valore decentralizzata, basata su un sistema peer-to-peer, che fa uso di un registro nella forma di una catena a blocchi (blockchain) per conservare le transazioni economiche. Il trasferimento del valore è garantito e reso sicuro dalla crittografia e dalle sue regole.
                    
                .column.is-one-fifth
                    +makeImg("https://notizie.business/wp-content/uploads/2020/08/criptovalute.jpeg")    
            
            .columns 
                .column.is-one-forth
                    +makeImg("https://www.consob.it/documents/11981/0/cripto1.png/b1b3ad8a-640d-4f17-97db-26b7bababc89?t=1539603853445")   
                .column 
                    h1.title Come funzionano, di preciso?
                    p.block 
                        | Le criptovalute funzionano in modo autonomo, #[b al di fuori dei tradizionali sistemi bancari] e governativi. Utilizzano la crittografia per rendere sicure le transazioni e regolamentare 
                        | la creazione di unità supplementari. Ciascun utente del sistema possiede uno indirizzo del portafoglio della valuta scelta e una chiave privata corrispondente all’indirizzo, che consente l’uso della somma collegata
                        | all’indirizzo stesso. Chi possiede la chiave privata è infatti colui che può spendere le monete collegate all’indirizzo, e solo lui può farlo.

            h1.title Cos'è un broker crypto?
            .columns 
                .column 
                    p.block Nel senso tradizionale, un broker è un'azienda o un singolo individuo che agisce come intermediario finanziario per chi vuole scambiare denaro per un determinato prodotto o servizio. Un broker di criptovalute 
                .column 
                    p.block come Bitpanda fornisce servizi finanziari online per gli utenti che vogliono comprare o vendere criptovalute.
            
    div.hero.is-success
        .hero-body
            .container
                h1.title Quali sono le cautele da prendere prima di investire in criptovalute?
                .columns 
                    .column 
                        p.block Chi vuole investire in criptovalute deve considerare tre aspetti sui quali informarsi e dai quali proteggersi: quello economico, quello legale, quello informatico. #[b Economico]: consigliamo di non puntare innanzitutto le proprie finanze interamente sul mondo crypto e di dividere gli investimenti tra componente di possesso diretta e componente di trading sul prezzo. E soprattutto di non affidarsi, quando possibile, a operatori e piattaforme che non si dedicano esclusivamente al trading di cripto-asset. In questo tipo di piattaforme, infatti, è più facile trovare truffatori. #[b Legale]: Prima di investire i propri soldi, è necessario informarsi sullo stato legale delle criptovalute nel proprio paese e nella propria regione. In Italia, ad esempio, è legale e concesso, ma in altri luoghi potrebbe non esserlo. Come spiegato anche nella #[b #[a(href="index.html") pagina Home]], investire in criptovalute non rende qualcuno un criminale. 
                    .column 
                        p.block È comunque vero che questo tipo di tecnologie vengono utilizzate in particolar modo da chi necessita anonimità nelle sue transazione. Attenzione, quindi, a non comprare beni o servizi illegali sul suolo nazionale. In fin dei conti, la criptovaluta è solo una moneta, e non vi protegge dalla legge! #[b Informatico]: Per proteggersi da attacchi informatici, è necessario conservare le proprie credenziali di accesso al portafoglio in un posto sicuro da malintenzionati, che potrebbero utilizzare il vostro al posto del loro. 
                
    .section   
        .container 

            h1.title Come posso aprire un portafoglio Bitcoin, noto anche come wallet Bitcoin?
            p.block Per farlo è necessario usare un software in grado di gestire un file-wallet. Se non sapete quale scegliere, su Bitcoin.org è disponibile una lista di software adatti a farlo, divisi per piattaforme e caratteristiche come controllo, sostenibilità, commissioni. Sta a voi scegliere il miglior wallet Bitcoin più adatto alle vostre esigenze, in base al grado di sicurezza desiderato e alla disponibilità su device e sistemi operativi posseduti (PC Windows, Mac, Linux, Android...). Di seguito abbiamo selezionato alcuni dei migliori wallet BTC sul mercato.

            .columns.is-vcentered
                .column 
                    +makeCard("https://logospng.org/download/bitcoin/logo-bitcoin-4096.png", 
                        "Bitcoin Core", 
                        "Bitcoin Core è un client Bitcoin completo e costituisce la spina dorsale della rete.",
                        "https://bitcoin.org/it/scarica")
                .column 
                    +makeCard("https://logos-download.com/wp-content/uploads/2018/04/Binance_logo_coin.png", 
                        "Binance", 
                        "Compra e scambia oltre 350 crypto su Binance.",
                        "https://www.binance.com/it")
                .column 
                    +makeCard("https://logodownload.org/wp-content/uploads/2017/10/monero-logo-3.png", 
                        "Monero GUI Wallet", 
                        "Un interfaccia grafica open-source per interagire con il tuo wallet Monero sviluppata dalla sua community, completamente gratuita e adatta sia per principianti, sia per utenti avanzati. ",
                        "https://www.getmonero.org/downloads/")
