extends ../template

block body
    +makeHeaderAbout()
    .section 
        .container.is-fullheight
            .columns 
                .column 
                    h1.title Cosa è una valuta? In cosa differisce con la criptovaluta?
                    .columns 
                        .column 
                            p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate facere voluptas asperiores quam recusandae eligendi sit aut quis quae doloribus, a aliquam ullam culpa molestiae, suscipit in harum nesciunt.
                        .column 
                            p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis officia quae rem est autem vero dolores, commodi ipsum, beatae nihil impedit illo cupiditate id saepe magni molestias pariatur eos?
                    
                .column 
                    +makeImg("https://notizie.business/wp-content/uploads/2020/08/criptovalute.jpeg")    
            
            .columns 
                .column 
                    +makeImg("https://notizie.business/wp-content/uploads/2020/08/criptovalute.jpeg")   
                .column 
                    h1.title Come funzionano, di preciso?
                    p.block 
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum consequatur reiciendis delectus sint obcaecati deserunt possimus modi dolores deleniti quibusdam quo quam, optio consequuntur vel assumenda architecto alias omnis vero.
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veniam consequatur sapiente nihil enim omnis. Quaerat aliquam delectus corporis nulla officia repellendus aut, ipsa hic nihil, sit ullam soluta a!
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iure at doloremque laudantium unde a laboriosam sequi, vero, laborum facilis totam magni. Blanditiis nostrum consectetur doloremque, assumenda eligendi vitae sapiente!

            h1.title Cosa vuol dire che una moneta non è stabile? (boh invento)
            .columns 
                .column 
                    p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate facere voluptas asperiores quam recusandae eligendi sit aut quis quae doloribus, a aliquam ullam culpa molestiae, suscipit in harum nesciunt.
                .column 
                    p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis officia quae rem est autem vero dolores, commodi ipsum, beatae nihil impedit illo cupiditate id saepe magni molestias pariatur eos?
            
    div.hero.is-success
        .hero-body
            .container
                h1.title Cosa vuol dire, quindi, investire in criptovalute?
                .columns 
                    .column 
                        p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate facere voluptas asperiores quam recusandae eligendi sit aut quis quae doloribus, a aliquam ullam culpa molestiae, suscipit in harum nesciunt.
                    .column 
                        p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis officia quae rem est autem vero dolores, commodi ipsum, beatae nihil impedit illo cupiditate id saepe magni molestias pariatur eos?
                
    .section   
        .container 

            h1.title Come posso aprire un portafoglio Bitcoin?
            p.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate harum modi consequuntur soluta a ullam minus beatae sed, aspernatur fuga eum, obcaecati quasi possimus earum, adipisci et ut pariatur!