extends ../template

block body
    +makeHeaderAbout()
    .section 
        .container.is-fullheight
            .columns 
                .column
                    h1.title Cosa è una valuta? In cosa differisce con la criptovaluta?
                    .columns 
                        .column 
                            p.block La valuta è la moneta in circolazione in un paese e i biglietti di banca che la rappresentano. Nell’ambito delle operazioni bancarie, la valuta è il meccanismo per cui l’istituto di credito fa  passare un intervallo di tempo (i cosiddetti giorni di valuta) tra l’addebito di una somma e l’accredito all’avente diritto, o tra il versamento di una somma e la data a partire dalla quale sarà visibile nell’ estratto conto cominciando a maturare interessi
                        .column 
                            p.block Invece una criptovaluta è un tipo di moneta digitale creata attraverso un sistema di codici. 
                    
                .column
                    +makeImg("https://notizie.business/wp-content/uploads/2020/08/criptovalute.jpeg")    
            
            .columns 
                .column 
                    +makeImg("https://notizie.business/wp-content/uploads/2020/08/criptovalute.jpeg")   
                .column 
                    h1.title Come funzionano, di preciso?
                    p.block 
                        | Le criptovalute funzionano in modo autonomo, al di fuori dei tradizionali sistemi bancari e governativi. Utilizzano la crittografia per rendere sicure le transazioni e regolamentare 
                        la creazione di unità supplementari.

            h1.title Cos'è un broker crypto?
            .columns 
                .column 
                    p.block Nel senso tradizionale, un broker è un'azienda o un singolo individuo che agisce come intermediario finanziario per chi vuole scambiare denaro per un determinato prodotto o servizio. Un broker di criptovalute 
                .column 
                    p.block come Bitpanda fornisce servizi finanziari online per gli utenti che vogliono comprare o vendere criptovalute.
            
    div.hero.is-success
        .hero-body
            .container
                h1.title Come posso investire in criptovalute?
                .columns 
                    .column 
                        p.block per chi vuole investire in criptovalute è dunque legato a un triplice senso di protezione: economica, legale, informatica. Economica: consigliamo di non puntare innanzitutto le proprie finanze interamente sul mondo cripto e 
                    .column 
                        p.block di dividere gli investimenti tra componente di possesso diretta e componente di trading sul prezzo. E soprattutto di affidarsi, ove possibile, a operatori e piattaforme che non sono dediti esclusivamente al trading di cripto-asset, dove possono annidarsi potenziali truffatori.
                
    .section   
        .container 

            h1.title Come posso aprire un portafoglio Bitcoin nota anche come wallet Bitcoin?
            p.block Per farlo è necessario usare un software in grado di gestire il nostro file-wallet. Se non sapete quale scegliere, su Bitcoin.org è disponibile una lista di software adatti a farlo, divisi per piattaforme e caratteristiche come controllo, sostenibilità, commissioni. Sta a voi scegliere il miglior wallet Bitcoin più adatto alle vostre esigenze, in base al grado di sicurezza desiderato e alla disponibilità su device e sistemi operativi posseduti (PC Windows, Mac, Linux, Android...). Di seguito abbiamo selezionato alcuni dei migliori wallet BTC sul mercato.
