extends ../template

block body
    +makeHeaderHome()
    .section 
        .container 
            .is-centered
                .box 
                    canvas#my-chart

    .section 
        .container
            h1.title Per chi ancora non ne sa niente
            .columns 
                .column 
                    h1.subtitle Cosa sono le criptovalute?
                    p.block Le criptovalute sono una valuta digitale - quindi non fisica - #[b decentralizzata], ovvero, non si basano su un'entità centrale che la sostiene e mantiene, quali una banca o un governo. Essa utilizza elimina il bisogno di intermediari tradizionali per verificare il bilancio degli utenti, usando cose come un #[i digital ledger] - esso è un database che si occupa della distribuzione e transazione della valuta.
                        | Le criptovalute seguono 6 principi fondamentali:
                        ol 
                            li Come già stabilito, il sistema non ha bisogno di un'autorità centrale; essa è mantenuta attraverso consenso popolare.
                            li Il sistema mantiene d'occhio ogni singola unità della criptovaluta e i proprietari di essa.
                            li Il sistema definisce quando delle unità della criptovaluta possono essere create, e ne definisce anche l'origine e i metodi di acquisizione.
                            li La proprietà delle unità della monetà può essere provata esclusivamente in modo crittografico.
                            li Il sistema ammette transazioni dove la proprietà delle unità viene cambiata. Queste operazioni di transazioni possono essere effettuate solo da entità che ne garantiscono la proprietà.
                            li Se due di queste transazioni vengono eseguite allo stesso tempo, solo una verrà eseguita.
                .column 
                    h1.subtitle Come vengono mantenute? 
                    p.block Le criptovalute si basano sul concetto che, in un sistema #[b proof-of-work] - ovvero dove un utente prova a dei "verificatori" che una certa quantità di lavoro computazionale è stto svolto, come nel caso del sistema dei Bitcoin, la proprietà delle criptovalute è confermata da delle parti, ognuni diffidenti dagli altri, e viene incentivata dalla verifica della proprietà attraverso ricompense della moneta stessa.
                .column 
                    h1.subtitle Se le uso, sono un criminale?
                    p.block Lo stato legale delle criptovalute valuta significatamente da paese a paese, e anche se è provato che l'analisi dei sistemi di autenticazione delle transazioni (#[b blockchain]) è un efficace strumento di lotta alla criminalità. 
                        | Ti consigliamo dunque di #[a(href="https://en.wikipedia.org/wiki/Legality_of_cryptocurrency_by_country_or_territory") controllare lo stato legale delle criptovalute nel tuo paese].

    .section
        .container
            h1.title Apri il tuo portafoglio adesso!
            h1.subtitle Scegli la tua criptovaluta preferita tra quelle che ti proponiamo
            .columns.is-vcentered
                .column 
                    +makeCard("https://logospng.org/download/bitcoin/logo-bitcoin-4096.png", 
                        "Bitcoin", 
                        "Scopri Bitcoin, la moneta più conosciuta e, forse, anche la più antica!",
                        "https://bitcoin.org/it/")
                .column
                    +makeCard("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Ethereum-icon-purple.svg/1200px-Ethereum-icon-purple.svg.png", 
                        "Etherium", 
                        "Etherium è una moneta moderna e nuova.",
                        "https://ethereum.org/it/")
                .column
                    +makeCard("https://1.bp.blogspot.com/-_GEdIn8WlPs/YJtUwh2xYiI/AAAAAAAAHzs/G7afb0-w0ZAtczANwPSU3Lapd6RS__NgQCLcBGAsYHQ/s0/doge.png", 
                        "Dogecoin", 
                        "Dogecoin è la moneta di Elon Musk; per poco tempo, anche Twitter ha utilizzato questo.",
                        "https://dogecoin.com/")
                .column
                    +makeCard("https://cdn.freebiesupply.com/logos/large/2x/tether-logo-png-transparent.png", 
                        "Tether", 
                        "Tether unisce il potere della criptovaluta con quello della stabile carta moneta.",
                        "https://tether.to/en/")

include ./graph

