extends ../template

block body
    +makeHeaderNews()
    .section 
        .container.is-fullheight
            +makeNews("https://media.wired.com/photos/5a67904bd0d73e186fbefd53/191:100/pass/ElonMuskSalary-FeatureArt-RTX3C49F.jpg",
                "Accordo Twitter-eToro, così Elon Musk porta le criptovalute sul suo social",
                "Primo passo per arrivare a X, la app universale modellata sulla cinese WeChat. Obiettivo: diventare la più grande istituzione finanziaria del mondo.",
                "https://www.milanofinanza.it/news/accordo-twitter-etoro-cosi-elon-musk-porta-le-criptovalute-sul-suo-social-202304132107506660")
            
            +makeNews("https://www.kriptopiyasasi.com/wp-content/uploads/2021/05/elon-musk-btc-1-scaled.jpeg",
                "5 tweet di Elon Musk che hanno mandato Dogecoin sulla Luna",
                "Elon Musk, CEO di Tesla, SpaceX e Twitter, è una forza nel mondo delle criptovalute, soprattutto quando esercita la sua influenza su Dogecoin.",
                "https://it.finance.yahoo.com/notizie/5-tweet-di-elon-musk-110000503.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAGz-VbxgkSGO16lBp3bMjcioEfG5gv-MEuievq5pqQvrFJOdiamUXuly0cFRFgPL2uGm1Rzb1VoldYZa7fGufXTRDa8camwalW-LkmetXelbXq_qvloTVwIowWF3B44cry89dvq8i-mg4pxTxHzSP_7v1kL9nSRpm2NiXJ_1uGdB")
            
            +makeNews("https://cdn.tech.eu/uploads/2014/04/bitcoin.jpg",
                "La maxi truffa delle criptovalute, le chat: «Stanno tutti prelevando cripto che non abbiamo, c'è il panico»",
                "The Rock Trading, mancano 20 milioni: 18 mila clienti in ansia. La drammatica seduta del cda il 16 febbraio, quando l'ad Andrea Medri sembra il primo a non raccapezzarsi.",
                "https://milano.corriere.it/notizie/cronaca/23_aprile_12/la-maxi-truffa-delle-criptovalute-le-chat-stanno-tutti-prelevando-cripto-che-non-abbiamo-c-e-il-panico-325c29f3-1e2d-4be0-90b4-508e3da6bxlk.shtml")
            
            +makeNews("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd.ibtimes.co.uk%2Fen%2Ffull%2F1449834%2Fbitcoin-banker.jpg&f=1&nofb=1&ipt=bc13b1785d3ebf95875f729c1fc6ee14602c6d57e8553a7364cab0d2f86145e2&ipo=images",
                "Criptovalute, i segreti per evitare truffe e abusi ",
                "Si parla molto di criptovalute, ma non sono un investimento per tutti. Ecco come iniziare a investire consapevolmente.",
                "https://www.ilgiornale.it/news/borsa-e-mercati/crpto-2136802.html")