extends ../template

block body
    +makeHeaderNews()
    .section 
        .container.is-fullheight
            +makeNews("https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492198253/cheats/2014/07/14/30-arrested-in-argentinean-riots/140714-argentina-riot-cheat_cdfizh",
                "Uomo arrestato per aver investito in criptovalute",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro quibusdam dolores ipsam esse dolorem non inventore nam cum totam animi consequuntur explicabo quas accusamus illo delectus fugit, facilis aliquid?",
                "https://bitcoin.org/it/")
            +makeNews("https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492198253/cheats/2014/07/14/30-arrested-in-argentinean-riots/140714-argentina-riot-cheat_cdfizh",
                "Uomo arrestato per aver investito in criptovalute",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro quibusdam dolores ipsam esse dolorem non inventore nam cum totam animi consequuntur explicabo quas accusamus illo delectus fugit, facilis aliquid?",
                "https://bitcoin.org/it/")
            +makeNews("https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492198253/cheats/2014/07/14/30-arrested-in-argentinean-riots/140714-argentina-riot-cheat_cdfizh",
                "Uomo arrestato per aver investito in criptovalute",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro quibusdam dolores ipsam esse dolorem non inventore nam cum totam animi consequuntur explicabo quas accusamus illo delectus fugit, facilis aliquid?",
                "https://bitcoin.org/it/")
            +makeNews("https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492198253/cheats/2014/07/14/30-arrested-in-argentinean-riots/140714-argentina-riot-cheat_cdfizh",
                "Uomo arrestato per aver investito in criptovalute",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro quibusdam dolores ipsam esse dolorem non inventore nam cum totam animi consequuntur explicabo quas accusamus illo delectus fugit, facilis aliquid?",
                "https://bitcoin.org/it/")