-var helpurl="https://github.com/hotbrightsunshine/gpoi-web-crypto"

div.footer 
    div.content.has-text-centered 
        p Questo sito è stato fatto da Francesco Parisio, Lorenzo Bartolozzi, Nishi Rajapaksa, Camila Cabezas 💕
        p Puoi consultare e modificare liberamente il codice sorgente a #[a(href=helpurl) questo indirizzo].