-var helpurl="http://example.com/help/123"

div.footer 
    div.content.has-text-centered 
        p Questo sito è stato fatto da Francesco Parisio, Lorenzo Bartolozzi, Nishi Rajapaksa, Camila Cabezas 💕
        p See #[a(href=helpurl) #{helpurl}]