mixin makeCard(image, name, content, link)
    div.card
        div.card-image
            figure.image.is-1by1
                img(src= image)
        div.card-content
            div.media
                div.media-content
                    h1.title.is-4= name
            div.content 
                p= content
                a.button.is-success.is-light(href= link)= "Visita il sito di " + name

mixin makeNavbar(pages)
    div.container
            div.tabs.is-centered.is-toggle.is-toggle-rounded.is-success
                ul: each page in pages
                            if page.current == true
                                li.is-active: a(href= page.link)= page.name
                            else 
                                li: a(href= page.link)= page.name

