div.container
    .box.m-3
        div.tabs.is-centered
            ul 
                li 
                    a News
                li.is-active.is-success
                    a Home
                li 
                    a About